<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.mall.v2.server.mapper.GoodsSkuMapper">

    <resultMap id="defGoodsSku" type="com.bc.mall.v2.server.entity.GoodsSku">
        <result column="minSellPrice" property="minSellPrice" jdbcType="VARCHAR"/>
        <result column="maxSellPrice" property="maxSellPrice" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="goodsSku" type="com.bc.mall.v2.server.entity.GoodsSku">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="cost_price" property="costPrice"/>
        <result column="sell_price" property="sellPrice"/>
        <result column="orig_price" property="origPrice"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="total_stock" property="totalStock" jdbcType="INTEGER"/>
        <result column="remain_stock" property="remainStock" jdbcType="INTEGER"/>
        <result column="warn_stock" property="warnStock" jdbcType="INTEGER"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="attr" property="attr" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addGoodsSku" parameterType="com.bc.mall.v2.server.entity.GoodsSku">
        insert into t_goods_sku
        (
        id,
        goods_id,
        cost_price,
        sell_price,
        orig_price,
        image,
        total_stock,
        remain_stock,
        unit,
        attr,
        warn_stock
        )
        values
        (
        #{id},
        #{goodsId},
        #{costPrice},
        #{sellPrice},
        #{origPrice},
        #{image},
        #{totalStock},
        #{remainStock},
        #{unit},
        #{attr},
        #{warnStock}
        )
    </insert>

    <select id="getGoodsSkuListByGoodsId" parameterType="map" resultMap="goodsSku">
        select
        *
        from t_goods_sku
        where
        goods_id = #{goodsId}
    </select>

    <select id="getGoodsDefSku" parameterType="String" resultMap="defGoodsSku">
        select
        min(sell_price) as minSellPrice,
        max(sell_price) as maxSellPrice
        from t_goods_sku
        where goods_id = #{goodsId}
    </select>

</mapper>