<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.mall.v2.server.mapper.GoodsMapper">
    <resultMap id="goods" type="com.bc.mall.v2.server.entity.Goods">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="sales_volume" property="salesVolume" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="goodsImage" type="com.bc.mall.v2.server.entity.GoodsImage">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="likeGoods" type="com.bc.mall.v2.server.entity.Goods">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="VARCHAR"/>
        <result column="sell_price" property="sellPrice" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getGoodsListByGoodsId" parameterType="map" resultMap="goods">
        select
        *
        from t_goods
        where
        id = #{goodsId}
    </select>

    <select id="getGoodsImageListByGoodsId" parameterType="map" resultMap="goodsImage">
        select
        *
        from t_goods_image
        where
        goods_id = #{goodsId}
        order by sort asc
    </select>

    <select id="getLikeGoodsList" parameterType="map" resultMap="likeGoods">
        select
        g.id,
        g.store_id,
        g.name,
        g.shop_id,
        g.image,
        min(sku.sell_price) as sell_price,
        sku.orig_price
        from
        t_goods g
        right join t_goods_sku sku on g.id = sku.goods_id
        left join t_shop s on g.shop_id = s.id
        where g.store_id = #{storeId}
        and g.status = '2'
        and g.delete_status = '0'
        and g.activity = '1'
        and s.is_open = '1'
        and g.show_address like '%1%'
        group by sku.goods_id
        order by g.create_time, g.sort desc
    </select>
</mapper>